Package: nehyci.sdktrackingblocker
Name: 3rdSDKTrackingBlocker
Version: 0.0.1
Architecture: iphoneos-arm
Description: 屏蔽一些第三方SDK追踪程序
Maintainer: nehyci
Author: nehyci
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
